img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/landingbg.JPG') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

html,
body {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App .container {
  flex: 1 0 auto;
}

/* TAB */
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  cursor: pointer;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

/* TEXT COLORING */
.percentDanger {
  color: rgb(255, 40, 40);
}

.roster-link {
  color: white;
}

/* CELL COLORING */
.RequestRow {
  background-color: rgb(156, 200, 248);
}

/* ICONS */
.fa-info-circle {
  /*broken?*/
  font-size: 50x;
}

.fa-check-circle {
  /* color: rgb(12, 177, 12); */
  font-size: 40px;
}

.fa-times-circle {
  font-size: 40px;
}

.projectCard {
  text-decoration: none !important;
  width: 30rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.425);
}

/* NEEDED? */
a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-align: center;
}
